// Crysis Warhead launcher resources

#include <winver.h>

#include "Launcher/Game/Resources.h"
#include "Project.h"

RESOURCE_ICON ICON "CrysisWarhead.ico"

RESOURCE_CURSOR_AMBER CURSOR "CursorAmber.cur"
RESOURCE_CURSOR_BLUE  CURSOR "CursorBlue.cur"
RESOURCE_CURSOR_GREEN CURSOR "CursorGreen.cur"
RESOURCE_CURSOR_RED   CURSOR "CursorRed.cur"
RESOURCE_CURSOR_WHITE CURSOR "CursorWhite.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PROJECT_VERSION, 0, 0, 0
PRODUCTVERSION  PROJECT_VERSION, 0, 0, 0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Crytek GmbH"
			VALUE "LegalCopyright",   "(C) 2007 Crytek GmbH"
			VALUE "ProductName",      "C1-Launcher"
			VALUE "ProductVersion",   PROJECT_VERSION_STRING
			VALUE "FileVersion",      PROJECT_VERSION_STRING
			VALUE "FileDescription",  "Crysis Warhead"
			VALUE "InternalName",     "CrysisWarheadLauncher"
			VALUE "OriginalFilename", "CrysisWarheadLauncher.exe"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
