// Crysis Wars launcher resources

#include <winver.h>

#include "Project.h"

101 ICON "CrysisWars.ico"

103 CURSOR "CursorAmber.cur"
104 CURSOR "CursorBlue.cur"
105 CURSOR "CursorGreen.cur"
106 CURSOR "CursorRed.cur"
107 CURSOR "CursorWhite.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PROJECT_VERSION, 0, 0, 0
PRODUCTVERSION  PROJECT_VERSION, 0, 0, 0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Crytek GmbH"
			VALUE "LegalCopyright",   "(C) 2007 Crytek GmbH"
			VALUE "ProductName",      "C1-Launcher"
			VALUE "ProductVersion",   PROJECT_VERSION_STRING
			VALUE "FileVersion",      PROJECT_VERSION_STRING
			VALUE "FileDescription",  "Crysis Wars"
			VALUE "InternalName",     "Crysis"
			VALUE "OriginalFilename", "Crysis.exe"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
