// Dedicated server launcher resources

#include <winver.h>

// Launcher headers
#include "DedicatedServer/Resources.h"

#include "config.h"

IDI_ICON ICON "DedicatedServerIcon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     C1LAUNCHER_VERSION_MAJOR,C1LAUNCHER_VERSION_MINOR,0,0
PRODUCTVERSION  C1LAUNCHER_VERSION_MAJOR,C1LAUNCHER_VERSION_MINOR,0,0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
		#ifdef BUILD_64BIT
			VALUE "FileDescription",  "Crysis 64-bit Dedicated Server Launcher"
		#else
			VALUE "FileDescription",  "Crysis 32-bit Dedicated Server Launcher"
		#endif
			VALUE "FileVersion",      C1LAUNCHER_VERSION_STRING
			VALUE "InternalName",     "CrysisDedicatedServer"
			VALUE "OriginalFilename", "CrysisDedicatedServer.exe"
			VALUE "ProductName",      "C1-Launcher"
			VALUE "ProductVersion",   C1LAUNCHER_VERSION_STRING
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
