// Game launcher resources

#include <winver.h>

// Launcher headers
#include "Game/Resources.h"

#include "config.h"

IDI_ICON ICON "GameIcon.ico"

IDC_CURSOR_AMBER CURSOR "CursorAmber.cur"
IDC_CURSOR_BLUE  CURSOR "CursorBlue.cur"
IDC_CURSOR_GREEN CURSOR "CursorGreen.cur"
IDC_CURSOR_RED   CURSOR "CursorRed.cur"
IDC_CURSOR_WHITE CURSOR "CursorWhite.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     C1LAUNCHER_VERSION_MAJOR,C1LAUNCHER_VERSION_MINOR,0,0
PRODUCTVERSION  C1LAUNCHER_VERSION_MAJOR,C1LAUNCHER_VERSION_MINOR,0,0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
		#ifdef BUILD_64BIT
			VALUE "FileDescription",  "Crysis 64-bit Game Launcher"
		#else
			VALUE "FileDescription",  "Crysis 32-bit Game Launcher"
		#endif
			VALUE "FileVersion",      C1LAUNCHER_VERSION_STRING
			VALUE "InternalName",     "Crysis"
			VALUE "OriginalFilename", "Crysis.exe"
			VALUE "ProductName",      "C1-Launcher"
			VALUE "ProductVersion",   C1LAUNCHER_VERSION_STRING
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
