################################################################################
# Reusable build workflow
################################################################################

name: Build

on:
  workflow_call:
    inputs:
      arch:
        description: Either x86 or x64
        required: true
        type: string
      type:
        description: CMake build type
        required: true
        type: string

jobs:
  msvc_vs2022:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        id: build
        env:
          CXXFLAGS: /W4 /WX
        run: |
          & 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\Launch-VsDevShell.ps1' `
            -SkipAutomaticLocation -Arch ${{ inputs.arch == 'x64' && 'amd64' || inputs.arch }}
          cmake -S . -B Build -G "NMake Makefiles" -D CMAKE_BUILD_TYPE=${{ inputs.type }}
          cmake --build Build

      - name: Test
        run: |
          & 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\Launch-VsDevShell.ps1' `
            -SkipAutomaticLocation -Arch ${{ inputs.arch == 'x64' && 'amd64' || inputs.arch }}
          cmake --build Build --target test

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: c1-launcher-${{ inputs.arch }}-vs2022-${{ github.run_id }}
          path: |
            Build/*.exe
            Build/*.pdb
            Build/Wars/*.exe
            Build/Wars/*.pdb

  msvc_vs2005:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}/wine-msvc-vs2005
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        id: build
        env:
          CXXFLAGS: /W4 /WX
        run: |
          wine cmd /C "C:/SetEnv_${{ inputs.arch }}.bat && cmake -S . -B Build -D CMAKE_BUILD_TYPE=${{ inputs.type }}"
          wine cmd /C "C:/SetEnv_${{ inputs.arch }}.bat && cmake --build Build"

      - name: Test
        run: wine cmd /C "C:/SetEnv_${{ inputs.arch }}.bat && cmake --build Build --target test"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: c1-launcher-${{ inputs.arch }}-vs2005-${{ github.run_id }}
          path: |
            Build/*.exe
            Build/*.pdb
            Build/Wars/*.exe
            Build/Wars/*.pdb
